table {
    border-collapse: collapse;
}
table.basic-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center; 
    cursor: hander; 
    background-color: #fdfdfd;
}
table.basic-table th {
    border: 1px solid #ddd;
    background-color: #ECECEC; 
    height: 30px;
    font-weight: normal; 
    color: #6A6B70;
}
table.basic-table td {
    border: 1px solid #ddd;
}
table.basic-table tr {
    vertical-align: middle;
}
table.basic-table tr:nth-child(even) {
    background-color: #f9fafc;
}
table.basic-table tr:hover {
    background-color: #ECEFF9;
}
table.basic-table td {
    vertical-align: middle;
    border: 1px solid #ddd;
}
table.basic-table tr.sel {
    background-color: #d9e0ea; 
    border-left: solid 3px #999;
}
table.basic-table a {
    text-decoration-line: none; 
}
table.stock-table {
    font-size: 14px;
    color: #383838;
}
table.stock-table tbody tr {
    height: 66px;
}
table.stock-table th {
    font-size: 12px;
}
table.stock-table .ths-zt-reason {
    color: #5CACEE;
    font-size: 12px;
}
table.stock-table .div-zt-reason {
    font-size: 12px;
}
table.stock-table .zt-reason {
    color: #66B2FF;
    padding-right: 10px;
    font-size: 12px;
}
table.stock-table .ths-dt-reason {
    font-size: 12px;
}
.popup-window {
    z-index: 8000;
    position: fixed;
    padding: 0;
    outline: 0;
    left:0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
.popup-window-mask {
    background-color: rgba(60, 60, 60, 0.3);
}
.popup-window > .content {
    position: absolute;
    border: solid 1px #383838;
}
.no-scroll {
    overflow: hidden;
}
.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.datepicker {
    color: #383838;
    font-size: 14px;
    background-color: #fcfcfc;
}
.datepicker table {
    text-align: center;
}
.datepicker tr {
    width: 300px;
    height: 25px;
}
.datepicker th {
    width: 30px;
    height: 30px;
    border: solid 1px #ddd;
    background-color:#ECECEC;
    vertical-align: middle;
}
.datepicker td {
    height: 30px;
    border: solid 1px #ddd;
    vertical-align: middle;
}
.datepicker .no-able {
    background-color:#f0f0f0;
}
.datepicker .today {
    color: #0a0;
}
.datepicker .sel {
    background-color: #FF66FF;
}
.pagenite {
    padding: 10px 0px;
}

.pagenite .page-item {
    border: solid 1px #66B2FF;
    padding: 3px 8px;
    cursor: pointer;
    margin: 0px 5px;
}

.pagenite .page-item-select {
    background-color: rgb(127, 120, 230);
}