* {
    padding: 0; margin: 0;
}
.outer {
    display: flex; justify-content: center; align-items: center;
}
.red {
    color: #de0422;
}
.green {
    color: #52c2a3;
}
.toggle-nav-box {
    color: #747474; font-size: 14px; width: 100%; height: 39px; line-height: 38px; border-bottom: 1px solid #e6e7ea; 
}
.toggle-nav-box > div {
    float: left; width: 110px; background-color: #f9fafc; text-align: center; border: 1px solid #e6e7ea; border-bottom: none; border-right: none; cursor: pointer;
}
.toggle-nav-box > div.toggle-nav-active {
    font-weight: bold; color: #222; background-color: #fff; border-top-width: 2px; border-top-color: #222;
}

.popup-container {
    z-index: 81100; display: none;  position: fixed; padding: 0; outline: 0; left:0px; top: 0px;width:100%;height:100%;
}
.popup-container .content {
    position:absolute; background-color: #fcfcfc; border: solid 1px #d0d0d0;
}
.popup-container p {
    padding: 0 20px 0 10px; 
}
.popup-container p:hover {
    background-color: #f0f0f0; 
}
.dialog-mask {
    position:fixed; z-index:10000; left: 0; top: 0; width: 100%;height: 100%;
}
