* {
    padding: 0; margin: 0;
}
.outer {
    display: flex; justify-content: center; align-items: center;
}
.red {
    color: #de0422;
}
.green {
    color: #52c2a3;
}
.toggle-nav-box {
    color: #747474; font-size: 14px; width: 100%; height: 39px; line-height: 38px; border-bottom: 1px solid #e6e7ea; 
}
.toggle-nav-box > div {
    float: left; width: 110px; background-color: #f9fafc; text-align: center; border: 1px solid #e6e7ea; border-bottom: none; border-right: none; cursor: pointer;
}
.toggle-nav-box > div.toggle-nav-active {
    font-weight: bold; color: #222; background-color: #fff; border-top-width: 2px; border-top-color: #222;
}