* {
    padding: 0; margin: 0;
}
.outer {
    display: flex; justify-content: center; align-items: center;
}
.red {
    color: #de0422;
}
.green {
    color: #52c2a3;
}
.toggle-nav-box {
    color: #747474; font-size: 14px; width: 100%; height: 39px; line-height: 38px; border-bottom: 1px solid #e6e7ea; 
}
.toggle-nav-box > div {
    float: left; width: 110px; background-color: #f9fafc; text-align: center; border: 1px solid #e6e7ea; border-bottom: none; border-right: none; cursor: pointer;
}
.toggle-nav-box > div.toggle-nav-active {
    font-weight: bold; color: #222; background-color: #fff; border-top-width: 2px; border-top-color: #222;
}

.popup-container {
    z-index: 81100; display: none;  position: fixed; padding: 0; outline: 0; left:0px; top: 0px;width:100%;height:100%;
}
.popup-container .content {
    position:absolute; background-color: #fcfcfc; border: solid 1px #d0d0d0;
}
.popup-container p {
    padding: 0 20px 0 10px; 
}
.popup-container p:hover {
    background-color: #f0f0f0; 
}
.dialog-mask {
    position:fixed; z-index:10000; left: 0; top: 0; width: 100%;height: 100%;
}

.my-info-item {border-bottom: solid 1px #222; margin-bottom: 10px; margin-top: 5px; width: 100%; } 
.my-info-item table { border-collapse: collapse; border: 1px solid #ddd; width:100%; text-align: center; cursor:hander; } 
.my-info-item table th {border: 1px solid #ddd; background-color: #ECECEC; height: 30px; font-weight: normal; color: #6A6B70;} 
.my-info-item table td {border: 1px solid #ddd;}
.my-info-item .red {color: #990000;}
.my-info-item .green {color: #009900;}
.my-info-item .selcol {background-color: #EEE9E9;}
.w-1200 {width: 1400px;}
.anchors-wrap {position:absolute; width: 800px; height: 280px; background-color: #fcfcfc; border: solid 2px #aaa;}
.anchors-wrap > div.header {text-align: center; background-color: #f0f0f0; padding: 5px 0px; height: 22px;}
.anchors-wrap button {width: 40px; margin-left: 30px;}
.anchor-list a {text-decoration: none; color: #202020; }
.anchor-list .anchor-arrow {float:right; width:15px; text-align:center; border-left:1px solid #c0c0c0; background-color:#c0c0c0; width:15px; height:25px;}
.anchor-list .true {background-color: #FFD8D8;}
.anchor-list .false {background-color: #A0F1DC;}

table.zdfb {
    height:215px;
}

.stock-detail { 
    color: #222; margin-bottom: 15px; padding: 10px; border-top: solid #222 2px; border-bottom: solid #ECEDEF 1px;
}
.stock-detail > span:first-child {
    font-weight: bold; font-size: 25px; margin-right: 15px;
}
.stock-detail > span:last-child {
    font-weight: bold; font-size: 20px;
}
.plate-column-box {
    font-size: 12px; margin-bottom: 20px; padding: 20 10px; line-height: 18px; border-bottom: solid #ECEDEF 1px;
}
.plate-up-and-down {
    display: inline-block; margin-right: 10px; padding: 3px 10px; border: 1px solid;
}
.plate-up-and-down-icon {
    margin-right: 5px; vertical-align: middle; width: 18px;
}
.subject-item {
    border-bottom: solid #e6e7ea 1px; padding-bottom: 20px; padding-top: 20px;
}
.subject-item .small-title {
    margin-bottom: 10px; line-height: 1.375; color: #999; font-size: 12px;
}
.subject-item .small-content {
    font-size: 18px;  margin-bottom: 15px; line-height: 31px; word-break: break-all; color: #222;
}
.small-content a {
    text-decoration: none; color:#222;
}
.small-content a:hover {
    text-decoration: underline;
}
.subject-item .stock-plate {
    height: 27px; overflow: hidden;
}
.stock-plate a {
    float: left; margin-right: 10px; margin-bottom: 5px; padding: 5 5px; background-color: #eceff5; font-weight: bold; font-size: 12px; text-decoration: none; color: #222;
}
.stock-plate a > span:first-child {
    margin-right: 10px;
}